@tailwind base;
@tailwind components;
@tailwind utilities;

@media (-webkit-device-pixel-ratio: 1.25) {
  * {
    zoom: 99%;
  }
}

@media (-webkit-device-pixel-ratio: 1.50) {
  * {
    zoom: 98%;
  }
}

html {
  scroll-behavior: smooth;
  /* scroll-snap-type: mandatory; */
  /* scroll-snap-points-y: repeat(100vh); */
  /* scroll-snap-type: y mandatory; */
}

body {
  overscroll-behavior: auto;
  background: linear-gradient(
    67deg,
    rgb(36, 45, 57) 11.2%,
    rgb(16, 37, 60) 51.2%,
    rgb(0, 0, 0) 98.6%
  );
  /* background-attachment: fixed; */
  color: #efefef;
}

.section-header {
  @apply text-center text-2xl lg:text-3xl font-bold;
}

/* example for gradient text */
/* .ffss {
  background-image: linear-gradient(
    83.84deg,
    rgb(0, 136, 255) -6.87%,
    rgb(160, 51, 255) 26.54%,
    rgb(255, 92, 135) 58.58%
  );
  background-clip: text;
  color: transparent;
  line-height: 85px;
} */

/* .progress-bar {
  position: fixed;
  top: 20;
  left: 0;
  right: 0;
  height: 10px;
  background: var(--red);
  transform-origin: 0%;
} */
